{% extends "backend_base.html" %}
<!-- block css-->
{% block css %}
    <link rel="stylesheet" href="/static/css/add_article.css">
{% endblock %}
<!-- block content-->
{% block content %}
    <div class="content">
        <form action="/blog/backend/add_article/" method="post">
            {% csrf_token %}
            <div>
                <h3>添加文章</h3>
                <p>文章标题：<input type="text" class="form-control" name="title"></p>
            </div>
            <div>
                <p>内容：<textarea class="form-control" name="article_content" id="article_content" cols="30"
                                rows="10"></textarea></p>
            </div>
            <input type="submit" class="btn btn-info" value="提交">
        </form>
    </div>
    <!--富本文编译器-->
    <script charset="utf-8" src="/static/kindeditor/kindeditor-all.js"></script>
    <script>
        KindEditor.ready(function (K) {
            window.editor = K.create('#article_content', {
                width: '700px',
                height: '500px',
                resizeType: 0,
                uploadJson: "/upload/",
                filePostName: "upload_img",
                extraFileUploadParams: {
                    csrfmiddlewaretoken: $("[name='csrfmiddlewaretoken']").val()
                }
            });
        });
    </script>
{% endblock %}
<!-- block head-->
{% block head %}
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="nav-mar">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">
                        <img alt="Brand" src="/static/img/ctbulogo.gif" width="200">
                    </a>
                    {#            <a class="navbar-brand" href="#">CTBU学习论坛</a>#}
                </div>
            </div>
            <div class="nav-rig">
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li><a href="/">首页 <span class="sr-only"></span></a></li>
                        <li><a href="/blog/{{ user.username }}">博客</a></li>
                        <li class="active"><a href="/blog/backend/">管理</a></li>
                        <li><a href="#">关于</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        {% if request.user.username %}
                            <li><a href="#">{{ request.user.username }}</a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                   aria-haspopup="true"
                                   aria-expanded="false">设置 <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">个人中心</a></li>
                                    <li><a href="#">修改密码</a></li>
                                    <li><a href="/login/">切换用户</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="/logout/">注销</a></li>
                                </ul>
                            </li>
                        {% else %}
                            <li><a href="/login/">登录</a></li>
                            <li><a href="/reg/">注册</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </nav>
{% endblock %}