{% extends "backend_base.html" %}
<!-- block css-->
{% block css %}
    <link rel="stylesheet" href="/static/css/add_article.css">
{% endblock %}
<!-- block content-->
{% block content %}
    <div class="col-md-8 col-md-offset-2">
        <div class="content">
            <form action="{% url "backend_add_article" %}" method="post" style="width: 400px;">
                {% csrf_token %}
                <h2>添加文章</h2>
                <div class="form-group">
                    <label for="inputTitle">标题：</label>
                    <input type="text" class="form-control" name="title" id="inputTitle" required>
                </div>
                <div class="form-group">
                    <label>分类：</label>
                    <select name="choice_cate" id="inputCate" class="form-control">
                        <option value="-1">请选择分类</option>
                        {% for cate in cate_list %}
                            <option value="{{ cate.pk }}">{{ cate.title }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="inputCate">标签：</label>
                    <div>
                        {% for tag in tag_list %}
                            <label class="checkbox-inline">
                                <input type="checkbox" value="{{ tag.pk }}" name="choice_tag"> {{ tag.title }}
                            </label>
                        {% endfor %}
                    </div>
                </div>
                <div class="form-group">
                    <label for="article_content">内容：</label>
                    <textarea class="form-control" name="article_content" id="article_content" cols="30"
                              rows="10"></textarea>
                </div>
                <input type="submit" class="btn btn-info" value="提交">
            </form>
        </div>
    </div>
    <!--富本文编译器-->
    <script charset="utf-8" src="/static/kindeditor/kindeditor-all.js"></script>
    <script>
        KindEditor.ready(function (K) {
            window.editor = K.create('#article_content', {
                width: '900px',
                height: '500px',
                resizeType: 0,
                uploadJson: "/upload/",
                filePostName: "upload_img",
                extraFileUploadParams: {
                    csrfmiddlewaretoken: $("[name='csrfmiddlewaretoken']").val()
                }
            });
        });
    </script>
{% endblock %}