<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/fontawesome/css/font-awesome.min.css">
    <script src="/static/js/jquery-3.3.1.js"></script>

    <link rel="stylesheet" href="/static/css/index.css">

    {#    <link rel="stylesheet" href="/static/css/article_detail.css">#}

    {% block css %}
    {% endblock %}

    {% block js %}
    {% endblock %}

    {% load my_tags %}

    <title>
        {% block title %}
            {{ user.blog.title }}
        {% endblock %}
    </title>

</head>
<body>
{#导航栏#}
{% block head %}
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="nav-mar">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">
                        <img alt="Brand" src="/static/img/ctbulogo.gif" width="200">
                    </a>
                    {#            <a class="navbar-brand" href="#">CTBU学习论坛</a>#}
                </div>
            </div>
            <div class="nav-rig">
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li><a href="{% url "index" %}">首页 <span class="sr-only">(current)</span></a></li>
                        <li class="active"><a href="{% url "homesite" user.username %}">博客</a></li>
                        <li><a href="{% url "backend" %}">管理</a></li>
                        <li><a href="#">关于</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        {% if request.user.username %}
                            <li><a href="#">{{ request.user.username }}</a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                   aria-haspopup="true"
                                   aria-expanded="false">设置 <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">个人中心</a></li>
                                    <li><a href="#">修改密码</a></li>
                                    <li><a href="{% url "login" %}">切换用户</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="{% url "logout" %}">注销</a></li>
                                </ul>
                            </li>
                        {% else %}
                            <li><a href="{% url "login" %}">登录</a></li>
                            <li><a href="{% url "reg" %}">注册</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </nav>
{% endblock %}


<div class="container">
    <div class="col-md-3 top_list">
        {% get_top10 %}
    </div>
    <div class="col-md-6 con-right">
        {% block content %}
        {% endblock %}
    </div>
    <div class="col-md-3 panel_list">
        {% get_menu request.user.username %}
    </div>

</div>
<script src="/static/bootstrap/js/bootstrap.min.js"></script>
<script src="/static/js/index.js"></script>
</body>
</html>