{% extends "backend_base.html" %}
<!-- head -->
{% load my_tags %}
<!-- css -->
{% block css %}
    <link rel="stylesheet" href="/static/sweetalert/sweetalert.css">
    <link rel="stylesheet" href="/static/css/backend.css">
{% endblock %}
<!-- content -->
{% block content %}
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="content">
                <a class="btn btn-info" href="/blog/backend/add_article/">添加文章</a>
            </div>
            <div class="article_list">
                {% for article in article_list %}
                    <div class="article_item">
                        <div class="article_title">
                            <h4><a class="text-dark" target="_blank"
                                   href="/blog/{{ article.user.username }}/articles/{{ article.pk }}/">{{ article.title }}</a>
                            </h4>
                        </div>
                        <div class="article_body">
                            <div class="desc">
                                {{ article.desc }}
                            </div>
                        </div>
                        <div class="article_foot">
                            <span>评论数 : {{ article.comment_count }}</span>&nbsp;&nbsp;&nbsp;
                            <span>点赞 : {{ article.up_count }}&nbsp;&nbsp;&nbsp;</span>
                            <span>浏览数 : {{ article.pk|getView|default_if_none:"0" }}&nbsp;&nbsp;&nbsp;</span>
                            <div class="fl dateSpan">{{ article.create_time|date:"Y-m-d" }}</div>
                            {#<div class="fr"><a href="delete_article/{{ article.pk }}" class="deleteBtn">删除</a></div>#}
                            <div class="fr"><a article_id="{{ article.pk }}" class="deleteBtn">删除</a></div>
                            <div class="fr"><a href="edit_article/{{ article.pk }}" class="editBtn">编辑</a></div>

                        </div>
                    </div>
                {% endfor %}
            </div>
            {{ page.show }}
        </div>
    </div>
{% endblock %}
<!-- js -->
{% block js %}
    <script src="/static/sweetalert/sweetalert.min.js"></script>
    <script src="/static/js/backend.js"></script>
{% endblock %}