{% extends "article_base.html" %}
{% load my_tags %}
{% block css %}
    <link rel="stylesheet" href="/static/css/homesite.css">
{% endblock %}
{% block content %}
    <div class="row">
        <div class="article_list">
            {% for article in article_list %}
                <div class="article_item">
                    <div class="article_title">
                        <h4>
                            <a class="text-dark"
                               href="/blog/{{ article.user.username }}/articles/{{ article.pk }}/">{{ article.title }}</a>
                        </h4>
                    </div>
                    <div class="article_body">
                        {{ article.desc }}
                    </div>
                    <div class="article_foot row small">
                        <span class="col-md-6">发布于 {{ article.create_time|date:"Y-m-d" }}</span>
                        <span class="pull-right"><i class="fa fa-commenting-o"></i>
                                    <span class="text-dark" href="#">评论数({{ article.comment_count }})</span>
                        </span>
                        <span class="pull-right"><i class="fa fa-thumbs-o-up"></i>
                                    <span class="text-dark" href="#">点赞({{ article.up_count }})</span>&nbsp;&nbsp;&nbsp;&nbsp;
                        </span>
                        <span class="pull-right" style="margin-right: 20px"><i class="fa fa-eye"></i>
                                    <span class="text-dark"
                                          href="#">浏览量({{ article.pk|getView|default_if_none:"0" }})</span>
                        </span>
                    </div>
                </div>
            {% endfor %}
        </div>
        {{ page.show }}
    </div>
{% endblock %}
