<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/fontawesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/login.css">
    <title>登陆</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-4" style="margin-top: 195px;">
            <form class="form-horizontal" method="post" action="/login/">
                {% csrf_token %}
                <div class="form-group">
                <div class="row">
                    <label for="avatar" class="col-sm-8 col-sm-offset-3">
                        <img src="/static/img/default.png" width="100" height="100" id="img_label" alt="">
                    </label>
                </div>
            </div>
                <div class="form-group">
                    <div class="input-group col-sm-8">
                        <label for="username">用户名</label>
                        <input type="text" class="form-control" name="username"
                               id="username" placeholder="请输入用户名">
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group col-sm-8">
                        <label for="pwd">密码</label>
                        <input type="password" class="form-control" name="pwd" id="pwd"
                               placeholder="至少八位，必须包括字母、数字、特殊字符">
                    </div>
                </div>
                <div class="form-group" style="height: 10px">
                    <div class="col-sm-10 form-group">
                        <div class="col-sm-6" style="margin-right: 20px; ">
                            <label for="pwd">验证码</label>
                            <input type="text" class="form-control" id="code" placeholder="请输入右侧显示的验证码">
                        </div>
                        <div style="margin-top: 25px">
                            <img id="code11" src="/get_vaild_img" width="140" height=32" alt="验证码" title="点击刷新验证码">
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="input-group col-sm-8">
                        <button type="button" class="btn btn-success btn-block" id="btn_submit">登录</button>
                        <a class="pull-right" href="/reg/" style="color:#5bc0de!important;">没有账号?立即注册</a>
                    </div>
                </div>
                <p class="text-center text-danger" id="error"></p>
            </form>
        </div>
    </div>
</div>
<script src="/static/js/jquery-3.3.1.js"></script>
<script src="/static/bootstrap/js/bootstrap.js"></script>
<script src="/static/js/login.js"></script>
</body>
</html>