<div class="menu panel_list">
    {% if cate_list|length != 0 %}
        <div class="panel panel-default">
            <div class="panel-heading">{% if username %}分类归档{% else %}热门分类{% endif %}</div>
            <div class="panel-body">
                {% if username %}
                    {% for cate in cate_list %}
                        <a href="/blog/{{ user.username }}/cate/{{ cate.0 }}/">
                            {{ cate.0 }}
                            <span class="label label-default panel_num">
                                {{ cate.1 }}
                            </span>
                        </a>
                    {% endfor %}
                {% else %}
                    {% for cate in cate_list %}
                        <a href="/index/cate/{{ cate.0 }}/">
                            {{ cate.0 }}
                            <span class="label label-default panel_num">
                                {{ cate.1 }}
                            </span>
                        </a>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    {% endif %}
    {% if tag_list|length != 0 %}
        <div class="panel panel-default">
            <div class="panel-heading">{% if username %}标签归档{% else %}热门标签{% endif %}</div>
            <div class="panel-body">
                {% if username %}
                    {% for tag in tag_list %}
                        <a href="/blog/{{ user.username }}/tag/{{ tag.0 }}/">
                            {{ tag.0 }}
                            <span class="label label-default panel_num">
                                {{ tag.1 }}
                            </span>
                        </a>
                    {% endfor %}
                {% else %}
                    {% for tag in tag_list %}
                        <a href="/index/tag/{{ tag.0 }}/">
                            {{ tag.0 }}
                            <span class="label label-default panel_num">
                                {{ tag.1 }}
                            </span>
                        </a>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    {% endif %}
    {% if date_list|length != 0 %}
        <div class="panel panel-default">
            <div class="panel-heading">日期归档</div>
            <div class="panel-body">
                {% if username %}
                    {% for date in date_list %}
                        <a href="/blog/{{ user.username }}/date/{{ date.0 }}">
                            {{ date.0 }}
                            <span class="label label-default panel_num">
                                {{ date.1 }}
                            </span>
                        </a>
                    {% endfor %}
                {% else %}
                    {% for date in date_list %}
                        <a href="/index/date/{{ date.0 }}">
                            {{ date.0 }}
                            <span class="label label-default panel_num">
                                {{ date.1 }}
                            </span>
                        </a>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    {% endif %}
</div>